*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
h2 {
    font-size: 3rem;
}
.clock {
    width: 40rem;
    height: 40rem;
    border: 1rem solid black;
    border-radius: 50%;
    position: relative;
    padding: 1rem;
}
.n1 {
    position: absolute;
    top: 2.5rem;
    left: 27rem;
}
.n2 {
    position: absolute;
    top: 8.5rem;
    right: 3rem;
}
.n3 {
    position: absolute;
    right: 0.5rem;
    top: 17.5rem;
}
.n4 {
    position: absolute;
    bottom: 8.7rem;
    right: 3rem;
}
.n5 {
    position: absolute;
    bottom: 2.5rem;
    left: 26.8rem;
}
.n6 {
    position: absolute;
    bottom: 0.5rem;
    left: 18rem;
}
.n7 {
    position: absolute;
    bottom: 2.5rem;
    right: 26.8rem;
}
.n8 {
    position: absolute;
    bottom: 8.7rem;
    left: 3.4rem;
}
.n9 {
    position: absolute;
    left: 0.5rem;
    top: 17.5rem;
}
.n10 {
    position: absolute;
    top: 8.8rem;
    left: 2.8rem;
}
.n11 {
    position: absolute;
    top: 2.5rem;
    right: 26.5rem;
}
.n12 {
    position: absolute;
    top: 0.5rem;
    left: 17.5rem;
}
.point {
    background-color: black;
    width: 3rem;
    height: 3rem;
    position: fixed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.point2 {
    background-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.5rem solid red;
}

 .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* 
.line1 {
    background-color: red;
    width: 100%;
    height: 1px;
    position: fixed;
}
.line2 {
    background-color: blue;
    width: 100%;
    height: 1px;
    position: fixed;
    transform: rotate(90deg);
}
.line3 {
    background-color: black;
    width: 100%;
    height: 1px;
    position: fixed;
    transform: rotate(30deg);
}
.line4 {
    background-color: black;
    width: 100%;
    height: 1px;
    position: fixed;
    transform: rotate(60deg);
}
.line5 {
    background-color: chocolate;
    width: 100%;
    height: 1px;
    position: fixed;
    transform: rotate(120deg);
}
.line6 {
    background-color: brown;
    width: 100%;
    height: 1px;
    position: fixed;
    transform: rotate(150deg); 
}   */
#hour, #minute, #second {
    width: 1%;
    height: 40%;
    border-radius: 5px;
    background-color: black;
    transform-origin: bottom;
}
#hour {
    position: absolute;
    bottom: 49.8%;
    left: 49%;
    height: 30%;
    width: 2%;
}

#minute {
    position: absolute;
    bottom: 49.8%;
    left: 49.25%;
    height: 35%;
    width: 1.5%;
}
#second {
    background-color: red;
    position: absolute;
    bottom: 49.8%;
    left: 49.49%;
}
.name {
    position: absolute;
    top: 80px;
    color: red;
}
/* .digital {
    position: absolute;
    border-radius: 10px;
    background-color: rgb(155, 209, 84);
    width: 150px;
    height: 50px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */